<script>
    menuNames = `{$menuNames nofilter}`
    menuItems = `{$menuItems nofilter}`
    CURRENT_SELECTED_MENU_ID = parseInt("{$currentMenuId}")
    LOCALE = "{$locale}"
</script>

<div class="general-block-decorator">
    <div class="top">
        <select id="selectMenuName" class="btn top-btn delete-if-no-menu">

        </select>
        <form id="askedMenu" action="{url path="/admin/module/CustomFrontMenu/selectMenu"}" method="POST" style="display:none;">
            <input type="hidden" name="menuId" id="menuId">
        </form>
        <button class="btn top-btn" data-toggle="modal" data-target="#ConfirmAddMenu">{intl l="Add a new menu" d="customfrontmenu.bo.default"}</button>
        <button class="btn top-btn delete-if-no-menu" data-toggle="modal" data-target="#ConfirmDeleteMenu">{intl l="Delete this menu" d="customfrontmenu.bo.default"}</button>
    </div>

    {if isset($smarty.session["_symfony_flashes"]["success"])}
        {foreach $smarty.session["_symfony_flashes"]["success"] as $message}
            <div class="alert alert-success alert-flash-to-delete">
                {$message}
            </div>
        {/foreach}
    {/if}
    {if isset($smarty.session["_symfony_flashes"]["warning"])}
        {foreach $smarty.session["_symfony_flashes"]["warning"] as $message}
            <div class="alert alert-warning alert-flash-to-delete">
                {$message}
            </div>
        {/foreach}
    {/if}
    {if isset($smarty.session["_symfony_flashes"]["fail"])}
        {foreach $smarty.session["_symfony_flashes"]["fail"] as $message}
            <div class="alert alert-danger alert-flash-to-delete">
                {$message}
            </div>
        {/foreach}
    {/if}

    <div id="preview-menu">
        <h3>{intl l="Preview menu" d="customfrontmenu.bo.default"}</h3>

        <ul id="menus">

        </ul>
    </div>

    <div class="top">
        <button id="toggle-all-children" class="btn top-btn delete-if-no-menu" onclick="toggleTopLevelVisibility()">{intl l="Hide all children" d="customfrontmenu.bo.default"}</button>
        <button title="Add a new parent" class="btn btn-primary btn-responsive action-btn add-parent-btn delete-if-no-menu" data-toggle="modal" data-target="#AddAndEditMenu">
            {intl l="Add a new parent" d="customfrontmenu.bo.default"}
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>
    </div>

    <div class="row">
        <div class="menu">
            <ul class="menu-item depth-0" id="menu-item-list"></ul>
        </div>
        <div class="drop-indicator" style="display: none;"></div>
        <form id="savedData" action="{url path="/admin/module/CustomFrontMenu/save"}" method="POST" style="display:none;">
            <input type="hidden" name="menuData" id="menuData">
            <input type="hidden" name="menuDataId" id="menuDataId">
        </form>
    </div>

    <div id="save-div" class="bottom">
        <button class="btn btn-success btn-responsive delete-if-no-menu" id="save-menu" onclick="saveData()">{intl l="Save" d="customfrontmenu.bo.default"}</button>
        <button class="btn btn-danger btn-responsive delete-if-no-menu" id="discard-change-menu" data-toggle="modal" data-target="#ConfirmDiscard">{intl l="Discard changes" d="customfrontmenu.bo.default"}</button>
    </div>

    <script>
        var translations = {
            hideAllChildren: '{intl l="Hide all children" d="customfrontmenu.bo.default"}',
            showAllChildren: '{intl l="Show all children" d="customfrontmenu.bo.default"}'
        };

        var buttonState = 'hide';
    </script>

</div>

<!-- Modal -->
<!-- Add and edit Parent Modal -->
<div class="modal fade" id="AddAndEditMenu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{intl l="Add a menu" d="customfrontmenu.bo.default"}</h4>
            </div>
            <div class="modal-body">
                <p>{intl l="Add a new menu item" d="customfrontmenu.bo.default"}</p>
                <form id="newParentForm">
                    <label for="menuItemName">{intl l="Menu title" d="customfrontmenu.bo.default"}</label>
                    <input type="text" id="menuItemName" name="menuItemName"><br><br>

                    <label for="menuItemUrl">{intl l="Target product" d="customfrontmenu.bo.default"}</label>
                    <input type="text" id="menuItemUrl" name="menuItemUrl" list="productsListParent"><br><br>
                    <datalist id="productsListParent">
                        {loop type="product" name="my_product_loop"}
                        <option value="{$TITLE} (id:{$ID})">
                            {/loop}
                    </datalist>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addCustomMenuItem('newParentForm', '0')"><span class="glyphicon glyphicon-check"></span>  {intl l="Create" d="customfrontmenu.bo.default"}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteFormField('newParentForm')">{intl l="Close" d="customfrontmenu.bo.default"}</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Menu Item Modal -->
<div class="modal fade" id="EditMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{intl l="Edit menu" d="customfrontmenu.bo.default"}</h4>
            </div>
            <div class="modal-body">
                <p>{intl l="Edit a menu item" d="customfrontmenu.bo.default"}</p>
                <form id="editMenuItemForm">
                    <label for="menuItemName">{intl l="Menu name" d="customfrontmenu.bo.default"}</label>
                    <input type="text" id="menuItemName" name="menuItemName"><br><br>
                    <label for="menuItemUrl">{intl l="Target product" d="customfrontmenu.bo.default"}</label>
                    <input type="text" id="menuItemUrl" name="menuItemUrl"><br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="changeParameters(getCurrentId())"><span class="glyphicon glyphicon-check"></span>  {intl l="Save" d="customfrontmenu.bo.default"}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteFormField('editMenuItemForm')">{intl l="Close" d="customfrontmenu.bo.default"}</button>
            </div>
        </div>
    </div>
</div>

<!-- Add and edit Menu Item Modal from a child -->
<div class="modal fade" id="AddAndEditSecondaryMenu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{intl l="Add a menu" d="customfrontmenu.bo.default"}</h4>
            </div>
            <div class="modal-body">
                <p>{intl l="Add a submenu" d="customfrontmenu.bo.default"}</p>
                <form id="addMenuItemForm">
                    <label for="menuItemName">{intl l="Submenu name" d="customfrontmenu.bo.default"}</label>
                    <input type="text" id="menuItemName" name="menuItemName"><br><br>

                    <label for="menuItemUrl">{intl l="Target product" d="customfrontmenu.bo.default"}</label>
                    <input type="text" id="menuItemUrl" name="menuItemUrl" list="productsListInItem"><br><br>
                    <datalist id="productsListInItem">
                        {loop type="product" name="my_product_loop"}
                        <option value="{$TITLE}">
                            {/loop}
                    </datalist>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addCustomMenuItem('addMenuItemForm', getCurrentId())"><span class="glyphicon glyphicon-check"></span> {intl l="Create" d="customfrontmenu.bo.default"}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteFormField('addMenuItemForm')">{intl l="Close" d="customfrontmenu.bo.default"}</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Menu Item Modal -->
<div class="modal fade" id="DeleteMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{intl l="Delete menu" d="customfrontmenu.bo.default"}</h4>
            </div>
            <div class="modal-body">
                <p>{intl l="Would you like to delete this menu item ?" d="customfrontmenu.bo.default"}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteMenuItem(getCurrentId())"><span class="glyphicon glyphicon-trash"></span>  {intl l="Delete" d="customfrontmenu.bo.default"}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{intl l="Close" d="customfrontmenu.bo.default"}</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm discard changes -->
<div class="modal fade" id="ConfirmDiscard" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{intl l="Discard changes" d="customfrontmenu.bo.default"}</h4>
            </div>
            <div class="modal-body">
                <p>{intl l="Would you like to discard all changes ?" d="customfrontmenu.bo.default"}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="allowUnload = true ; location.reload()"><span class="glyphicon glyphicon-trash"></span>  {intl l="Delete" d="customfrontmenu.bo.default"}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{intl l="Close" d="customfrontmenu.bo.default"}</button>
            </div>
        </div>
    </div>
</div>

<!-- Add a menu -->
<div class="modal fade" id="ConfirmAddMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{intl l="Add a new menu" d="customfrontmenu.bo.default"}</h4>
            </div>
            <div class="modal-body">
                <p>{intl l="Add a new menu" d="customfrontmenu.bo.default"}</p>
                <form id="addMenuForm" action="{url path="/admin/module/CustomFrontMenu/add"}" method="POST">
                    <div id="error-message" style="color: red; display: none;">Menu name cannot be empty</div>
                    <label for="menuName">{intl l="Menu name" d="customfrontmenu.bo.default"}</label>
                    <input type="text" id="menuName" name="menuName"><br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="addMenu()"><span class="glyphicon glyphicon-check"></span>  {intl l="Create" d="customfrontmenu.bo.default"}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{intl l="Close" d="customfrontmenu.bo.default"}</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete the current menu -->
<div class="modal fade" id="ConfirmDeleteMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{intl l="Delete menu" d="customfrontmenu.bo.default"}</h4>
            </div>
            <div class="modal-body">
                <p>{intl l="Would you like to delete this menu ?" d="customfrontmenu.bo.default"}</p>
                <form id="deleteForm" action="{url path="/admin/module/CustomFrontMenu/delete"}" method="POST">
                    <input type="hidden" name="menuId" id="menuNameToDelete">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteMenu()"><span class="glyphicon glyphicon-trash"></span>  {intl l="Delete" d="customfrontmenu.bo.default"}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{intl l="Close" d="customfrontmenu.bo.default"}</button>
            </div>
        </div>
    </div>
</div>
