
<div class="general-block-decorator">
    <div class="top">
        <select id="selectMenuName" class="btn top-btn">

        </select>
        <button class="btn top-btn" data-toggle="modal" data-target="#ConfirmAddMenu">Add a new menu</button>
        <button class="btn top-btn" data-toggle="modal" data-target="#ConfirmDeleteMenu">Delete this menu</button>
    </div>

    {if isset($smarty.session["_symfony_flashes"]["success"])}
        {foreach $smarty.session["_symfony_flashes"]["success"] as $message}
            <div id='alert-flash' class="alert alert-success">
                {$message}
            </div>
        {/foreach}
    {/if}
    {if isset($smarty.session["_symfony_flashes"]["fail"])}
        {foreach $smarty.session["_symfony_flashes"]["fail"] as $message}
            <div id='alert-flash' class="alert alert-danger">
                {$message}
            </div>
        {/foreach}
    {/if}

    <div id="preview-menu">
        <h3>Preview menu</h3>

        <ul id="menus">

        </ul>
    </div>

    <div class="top">
        <button id="toggle-all-childrens" class="btn top-btn" onclick="toggleTopLevelVisibility()">Hide all children</button>
        <button title="Add a new parent" class="btn btn-primary btn-responsive action-btn add-parent-btn" data-toggle="modal" data-target="#AddAndEditMenu">
            Add a new parent
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>
    </div>

    <div class="row">
        <div class="menu">
            <ul class="menu-item depth-0" id="menu-item-list"></ul>
        </div>
        <div class="drop-indicator" style="display: none;"></div>
        <form id="savedData" action="{url path="/admin/module/CustomFrontMenu/save"}" method="POST" style="display:none;">
            <input type="hidden" name="menuData" id="menuData">
        </form>
    </div>

    <div id="save-div" class="bottom">
        <button class="btn btn-success btn-responsive" id="save-menu" onclick="saveData()">Save</button>
        <button class="btn btn-danger btn-responsive" id="discard-change-menu" data-toggle="modal" data-target="#ConfirmDiscard">Discard changes</button>
    </div>
</div>

<!-- Modal -->
<!-- Add and edit Parent Modal -->
<div class="modal fade" id="AddAndEditMenu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Edit menu</h4>
            </div>
            <div class="modal-body">
                <p>Add a new menu item</p>
                <form id="newParentForm">
                    <label for="menuItemName">Menu name</label>
                    <input type="text" id="menuItemName" name="menuItemName"><br><br>
                    <label for="menuItemUrl">Target URL</label>
                    <input type="text" id="menuItemUrl" name="menuItemUrl" oninput="searchProducts(this.value, 'newParentForm')"><br><br>
                </form>
                <ul id="matchingProductsParent">
                </ul>
                <script>
                    var products = [];
                </script>
                {loop type="product" name="my_product_loop"}
                    <script>
                        var temporary = `{$TITLE} ({$REF}) {$URL}`
                        var regex = /(.+) \((\w+)\) (.+)/g;
                        var match;
                        while ((match = regex.exec(temporary)) !== null) {
                            var title = match[1].trim();
                            var ref = match[2].trim();
                            var url = match[3].trim();
                            var product = { title: title, ref: ref, url: url };
                            products.push(product);
                        }
                    </script>
                {/loop}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addCustomMenuItem('newParentForm', '0')">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteFormField('newParentForm')">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Menu Item Modal -->
<div class="modal fade" id="EditMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit menu</h4>
            </div>
            <div class="modal-body">
                <p>Edit a menu item</p>
                <form id="editMenuItemForm">
                    <label for="menuItemName">Menu name</label>
                    <input type="text" id="menuItemName" name="menuItemName"><br><br>
                    <label for="menuItemUrl">Target URL</label>
                    <input type="text" id="menuItemUrl" name="menuItemUrl"><br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="changeParameters(getCurrentId())"><span class="glyphicon glyphicon-check"></span> Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteFormField('editMenuItemForm')">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add and edit Menu Item Modal -->
<div class="modal fade" id="AddAndEditSecondaryMenu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Edit menu</h4>
            </div>
            <div class="modal-body">
                <p>Add a new menu item</p>
                <form id="addMenuItemForm">
                    <label for="menuItemName">Menu name</label>
                    <input type="text" id="menuItemName" name="menuItemName"><br><br>
                    <label for="menuItemUrl">Target URL</label>
                    <input type="text" id="menuItemUrl" name="menuItemUrl" oninput="searchProducts(this.value, 'addMenuItemForm')"><br><br>
                </form>
                <ul id="matchingProductsSecondary">
                </ul>
                <script>
                    var products = [];
                </script>
                {loop type="product" name="my_product_loop"}
                    <script>
                        var temporary = `{$TITLE} ({$REF}) {$URL}`
                        var regex = /(.+) \((\w+)\) (.+)/g;
                        var match;
                        while ((match = regex.exec(temporary)) !== null) {
                            var title = match[1].trim();
                            var ref = match[2].trim();
                            var url = match[3].trim();
                            var product = { title: title, ref: ref, url: url };
                            products.push(product);
                        }
                    </script>
                {/loop}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addCustomMenuItem('addMenuItemForm', getCurrentId())"><span class="glyphicon glyphicon-check"></span> Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteFormField('addMenuItemForm')">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Menu Item Modal -->
<div class="modal fade" id="DeleteMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete menu</h4>
            </div>
            <div class="modal-body">
                <p>Delete this menu item ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteMenuItem(getCurrentId())"><span class="glyphicon glyphicon-trash"></span>  Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm discard changes -->
<div class="modal fade" id="ConfirmDiscard" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Discard changes</h4>
            </div>
            <div class="modal-body">
                <p>Discard all changes ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="allowUnload = true ; location.reload()"><span class="glyphicon glyphicon-trash"></span>  Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add a menu -->
<div class="modal fade" id="ConfirmAddMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a new menu</h4>
            </div>
            <div class="modal-body">
                <p>Add a new menu</p>
                <form id="addMenuForm" action="{url path="/admin/module/CustomFrontMenu/add"}" method="POST">
                    <label for="menuName">Menu name</label>
                    <input type="text" id="menuName" name="menuName"><br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addMenu()">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete the current menu -->
<div class="modal fade" id="ConfirmDeleteMenu" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Menu</h4>
            </div>
            <div class="modal-body">
                <p>Delete this menu ?</p>
                <form id="deleteForm" action="{url path="/admin/module/CustomFrontMenu/delete"}" method="POST">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteMenu()"><span class="glyphicon glyphicon-trash"></span>Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
